@model IEnumerable<MembershipType>
@{
    ViewData["Title"] = "View All Membership Types";
}

<div class="modal fade" id="description-modal" tabindex="-1" role="dialog" aria-labelledby="description-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-secondary text-white">
                <h5 class="modal-title" id="description-modal-label"></h5>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> Close</button>
            </div>
        </div>
    </div>
</div>

@if (Model.Any())
{
    <div class="card bg-light">
        <div class="card-body">
            <div role="search">
                <div class="row">
                    <div class="col-md-12 mb-2 mb-md-0">
                        <div class="input-group">
                            <input id="propert-details-search" class="form-control" type="text" placeholder="Search...">
                            <a class="btn btn-primary" asp-action="Create" type="button"><i class="fas fa-circle-plus" aria-hidden="true"></i> Create Membership Type</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    
    <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>
                    Title
                </th>

                <th>
                    Price (£)
                </th>

                <th>
                    Description
                </th>

                <th>
                    Active
                </th>

                <th>
                    Type
                </th>

                <th>
                    No of Classes
                </th>
                
                <th>
                    No of Months
                </th>

                <th>
                    
                </th>
            </tr>
        </thead>

        <tbody id="propert-details-table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.MembershipTypeTitle
                    </td>

                    <td>
                        £@string.Format("{0:N2}", item.MembershipTypePrice)
                    </td>

                    <td>
                        <a href="#" data-title="@Html.Raw(item.MembershipTypeTitle)" data-description="@Html.Raw(item.MembershipTypeDescription)" onclick="viewMembershipTypeDescription(this)">View Description</a>
                    </td>

                    <td>
                        @if (item.MembershipTypeActive)
                        {
                            <i class="fas fa-check text-success" title="Active"></i>
                        }
                        else
                        {
                            <i class="fas fa-times text-danger" title="Inactive"></i>
                        }
                    </td>

                    <td>
                        @{
                            string membershipTypeText;
                            switch (item.Type)
                            {
                                case 1:
                                    membershipTypeText = "Weekly";
                                    break;
                                case 2:
                                    membershipTypeText = "Monthly";
                                    break;
                                default:
                                    membershipTypeText = "Unlimited";
                                    break;
                            }
                        }
                        @membershipTypeText
                    </td>

                    <td>
                        @item.NumberOfClasses
                    </td>

                    <td>
                        @item.NumberOfMonths
                    </td>

                    <td>
                        <div class="dropdown">
                            <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdown-@item.MembershipTypeId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdown-@item.MembershipTypeId">
                                <a class="dropdown-item" asp-action="Edit" asp-route-membershipTypeId="@item.MembershipTypeId"><i class="fas fa-edit" aria-hidden="true"></i> Edit</a>
                                @if (item.MembershipTypeActive)
                                {
                                    <a class="dropdown-item" asp-action="Deactivate" asp-route-membershipTypeId="@item.MembershipTypeId"><i class="fa-solid fa-toggle-off" aria-hidden="true"></i> Deactivate</a>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-action="Reactivate" asp-route-membershipTypeId="@item.MembershipTypeId"><i class="fa-solid fa-toggle-on" aria-hidden="true"></i> Reactivate</a>
                                }
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="row">
        <div class="col-md-12">
            <a asp-action="Create" asp-controller="MembershipType" class="btn btn-primary"><i class="fas fa-circle-plus" aria-hidden="true"></i> Create Membership Type</a>
        </div>
    </div>
    <br />

    <div class="alert alert-info" role="alert">
        No membership types available. Please try again after some time.
    </div>
}

@section scripts
{
    <script src="~/js/_membershipType.js"></script>
}