@model IEnumerable<ClassRegistration>
@{
    ViewData["Title"] = "Who’s Coming";

    static string GetStyle(bool? present)
    {
        if (present == null)
        {
            return "background-color:#f8f9fa";
        }
        else if (present == true)
        {
            return "background-color:#d5e6a1";
        }

        return "background-color:#ffc6b3";
    }
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            @*<h3>@date.ToString("dddd, MMMM dd")</h3>*@ <h3>Date Will Display</h3>
        </div>
    </div>
    <hr />

    <div class="row mt-4">
        <div class="col-md-12">
            <a asp-action="Index" class="btn btn-sm btn-secondary"><i class="fas fa-chevron-left"></i> Go Back</a>
        </div>
    </div>
    <br />

    @if (Model.Any())
    {
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table table-borderless">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <div id="userRow_@item.ClassRegistrationId" class="card mb-2 border border-dark px-2" style="@GetStyle(item.Present)">
                                        <div class="row">
                                            <div class="col-md-6">
                                                @item.User?.FirstName @item.User?.LastName
                                            </div>

                                            <div class="col-md-6 text-end">
                                                <p class="card-text">
                                                    @if (item.Present == null)
                                                    {
                                                        <button id="presentButton_@item.ClassRegistrationId" class="btn btn-group-sm btn-success" onclick="markUserPresent(@item.ClassRegistrationId, @item.ClassId, '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.UserId))')"> Present</button>
                                                        <button id="absentButton_@item.ClassRegistrationId" class="btn btn-group-sm btn-danger" onclick="markUserAbsent(@item.ClassRegistrationId, @item.ClassId, '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.UserId))')"> Absent</button>
               
                                                    }
                                                    else if (item.Present == true)
                                                    {
                                                        <button style="display: none;" id="presentButton_@item.ClassRegistrationId" class="btn btn-group-sm btn-success" onclick="markUserPresent(@item.ClassRegistrationId, @item.ClassId, '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.UserId))')"> Present</button>
                                                        <button style="display: inline;" id="absentButton_@item.ClassRegistrationId" class="btn btn-group-sm btn-danger" onclick="markUserAbsent(@item.ClassRegistrationId, @item.ClassId, '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.UserId))')"> Absent</button>
                                                    }
                                                    else
                                                    {
                                                        <button style="display: inline;" id="presentButton_@item.ClassRegistrationId" class="btn btn-group-sm btn-success" onclick="markUserPresent(@item.ClassRegistrationId, @item.ClassId, '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.UserId))')"> Present</button>
                                                        <button style="display: none;" id="absentButton_@item.ClassRegistrationId" class="btn btn-group-sm btn-danger" onclick="markUserAbsent(@item.ClassRegistrationId, @item.ClassId, '@Html.Raw(HttpUtility.JavaScriptStringEncode(item.UserId))')"> Absent</button>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info mt-4" role="alert">
            No one has reserved a spot in this class yet.
        </div>
    }
</div>

@section Scripts {
<script src="~/js/_classRegistration.js"></script>
}